/* adding Persian font */
@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 400;
  src: url("../font/iranyekanweblight.woff") format("woff");
}

@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 500;
  src: url("../font/iranyekanwebregular.woff") format("woff");
}

@font-face {
  font-family: "IranYekanWeb";
  font-style: normal;
  font-weight: 700;
  src: url("../font/iranyekanwebbold.woff") format("woff");
}

hr {
  height: 1px;
  border: none;
  background-color: rgb(230, 230, 230);
}

.seperator {
  height: 40px;
}

.hidden {
  display: none !important;
}

body,
html {
  background-color: #0093c8;
  font-family: "IranYekanWeb", sans-serif;
  font-size: 16px;
}

* {
  font-family: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 50px;
}

#input-form {
  font-size: 0;
  text-align: center;
}

#input-form>* {
  font-size: 16px;
}

/*set input expense & income */

#input-form div:first-of-type input{
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  box-shadow: 1px 5px 16px 0px #585a5886;
  border-radius: 20px;
}
#input-form div:first-of-type input:hover{
  box-shadow:inset 1px 5px 6px 0px #585a5831;
}
#input-form div:first-of-type{
  display: flex;
  justify-content: space-around;
  
}
#input-form div{
  margin: 3%;
}
/*income */
#input-form div:nth-of-type(2) input:last-of-type{
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  box-shadow: 1px 5px 16px 0px #585a5886;
  border-radius: 20px;
}
#input-form div:nth-of-type(2) input:hover{
  box-shadow:inset 1px 5px 6px 0px #585a5831;
}

/*expense*/
#input-form div:last-of-type input:last-of-type{
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: black;
  box-shadow: 1px 5px 16px 0px #585a5886;
  border-radius: 20px;
}
#input-form div:nth-of-type(2) input:hover{
  box-shadow:inset 1px 5px 6px 0px #585a5831;
}







#input-form input,
#input-form select {
  outline: none;
  border: solid 1px;
}

#input-form select {
  padding: 9px 40px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

#input-form input {
  padding: 10px;
  margin: 1%;
}

#input-form input[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 11px 60px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}



#budget-div {
  text-align: center;
}

#history-div {
  display: flex;
  justify-content: space-between;
}

#history-div>div {
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-width: 46%;
  padding: 10px 20px;
  text-align: center;
  min-height: 400px;
}

#history-div .title {
  margin-bottom: 20px;
}

#history-div h2 {
  margin: 0;
}

#expense-history,
#income-history {
  text-align: right;
}




#expense-history>div,
#income-history>div {
  height: 40px;
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#expense-history>div>span {
  width: 100%;
  margin: 10px;
  border-left: 1px solid rgba(73, 73, 73, 0.233);
  padding: 6px 10px;
}

#delete {
  font-size: 50px;
  color: red;
  font-weight: bolder;
  text-align: left;
  padding: 3px;
  margin: 0 5px;
  cursor: pointer;
}