@media only screen and (max-width:900px) {
    #expense-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;

    }

    #submit-btn {
        width: 50%;
    }

    #history-div {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    #history-div>div {
        margin: 2%;
    }


}