@media only screen and (max-width:700px) {

    .container {
        width: 650px;
        margin: 0% auto;

    }
    input{
        width: 150px;
    }

    .colBack {
        background: url(../img/rotate.jpg);
        width: 650px;
        height: 670px;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .shadowBack{
        background-color: rgba(0, 0, 0, 0.315);
        width: 650px;
        height: 670px;
        background-size: cover;
        background-repeat: no-repeat;
        
    
    }
    .col2 {
        width: 500px;
    }
}